/* @import './base.css'; */

#app {
  width: 100vw;
  font-weight: normal;
  background: white;
  font-family: 'Inter var', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    margin: auto;
    height: 100vh;
  }

  #app {
    display: flex;
  }
}

.flex {
  flex-direction: column;
}

.p-autocomplete .p-inputtext {
  border-color: rgb(148, 163, 184);
}

.p-datatable-tbody > tr.p-highlight {
  background: #ffffff;
}

.p-button-secondary {
  color: #6c757d;
  background: #ffffff69;
  border: none;
}
.p-button-secondary:hover {
  background: #edededf7;
  border: none;
}
